.vscode
\.idea/
dataset/preprocessed/*.csv
dataset/original/*.csv
dataset/matrices/*
dataset/preprocessed/local/*.csv
dataset/preprocessed/small/*.csv
dataset/preprocessed/full/*.csv

build/

evaluate_C\.c

evaluate_C\.cpython-37m-x86_64-linux-gnu\.so
__pycache__/*
preprocess/__pycache__/*
recommenders/__pycache__/*
submissions/*
utils/__pycache__/*

\.ipynb_checkpoints/

recommenders/collaborative_filterning/__pycache__/
