.vscode
\.idea/
dataset/preprocessed/*.csv
dataset/original/*.csv
dataset/matrices/*
dataset/preprocessed/local/*.csv
dataset/preprocessed/small/*.csv
dataset/preprocessed/full/*.csv
dataset/*

build/

evaluate_C\.c

evaluate_C\.cpython-37m-x86_64-linux-gnu\.so
__pycache__/*
preprocess/__pycache__/*
recommenders/__pycache__/*
submissions/*
utils/__pycache__/*

\.ipynb_checkpoints/

recommenders/collaborative_filterning/__pycache__/

Untitled\.ipynb

*.pyc

validation_result/

models/

recommenders/notebooks/Xgboost_dataset/
catboost_info/

recommenders/recurrent/checkpoints
*.txt
*.csv
!requirements.txt

scores/

*.pem

*.c

*.so

*.html

dataset_backup/*

dataset_unrolled/*

*.gz
