ptvsd>=4.2.4
Cython>=0.29
numpy>=1.15.4
pandas>=0.23.4
scipy>=1.1.0
scikit-learn>=0.20.0
bayesian-optimization>=1.0.0
beautifulsoup4>=4.7.1
implicit>=0.3.8
tqdm>=4.28.1
requests>=2.21.0
similaripy>=0.0.10
traitlets>=4.3.2
telepot
dask>=1.1.4
xgboost=0.82
